@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300&display=swap');

@import url(./headPage.scss);
@import url(./productsItems.scss);
@import url(./footerPage.scss);
@import url(./pagebag.scss);
@import url(./pagepayment.scss);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lexend', sans-serif;
}

html{

}
body {
  background-color: $secondary;
  margin-bottom: 50px;
}

.container {
  width: 960px;
  margin: auto;
}

@media (max-width: 1100px) {
  .container {
    width: 90vw;
  }
}



